.card{
    width: 400px;
    height: 350px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 100px black;
    text-align: center;
}

.infoDisplay{
    display: flex;
    align-items: stretch;
}

.img{
    width: 100%
}

.infoShow{
    display: true;
}

.infoHide{
    display: none;
}
